absl-py==0.7.1
aiofiles==0.4.0
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.7.1
attrs==19.1.0
Automat==0.7.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
coinmarketcap==5.0.3
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
cycler==0.10.0
et-xmlfile==1.0.1
fake-useragent==0.1.11
gast==0.2.2
google-pasta==0.1.7
grpcio==1.16.1
h5py==2.9.0
httptools==0.0.13
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
jdcal==1.4.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
lxml==4.9.1
Markdown==3.1
matplotlib==3.1.0
mkl-fft==1.0.12
mkl-random==1.0.2
mock==3.0.5
mpl-finance==0.10.0
multidict==4.5.2
numpy==1.16.4
openpyxl==2.6.2
pandas==0.24.2
parse==1.12.0
parsel==1.5.1
peewee==3.2.2
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycoingecko==0.3.0
pycparser==2.19
pycurl==7.43.0.1
PyDispatcher==2.0.5
pyee==6.0.0
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.4.0
pyppeteer==0.0.25
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2019.1
queuelib==1.5.0
requests==2.21.0
requests-cache==0.5.0
requests-html==0.9.0
sanic==0.8.1
Sanic-Cors==0.9.5
Sanic-Plugins-Framework==0.7.0
schedule==0.5.0
scipy==1.2.1
Scrapy==1.6.0
scylla==1.1.5
service-identity==18.1.0
six==1.11.0
soupsieve==1.9.1
tb-nightly==1.14.0a20190301
tensorboard==1.13.1
tensorflow==2.0.0a0
tensorflow-estimator==1.13.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019030115
tornado==5.0.2
tqdm==4.32.1
Twisted==19.2.0
ujson==1.35
urllib3==1.25.3
uvloop==0.12.2
w3lib==1.20.0
websockets==5.0.1
Werkzeug==0.15.2
xlrd==1.2.0
zope.interface==4.6.0
